body{
    background-color: #333333;
    color: white;
}


.scatterPlotContainer {
    padding: 0 0 25px 0;
}

.cardShadowBox{
    box-shadow: 0 5px 8px 0 rgb(0 0 0 / 20%), 0 3px 10px 0 rgb(0 0 0 / 19%) !important;
}

.viewContainer{
    padding: 25px 0 25px 0;
}

.scatterPlot{
    background-color:rgb(255, 188, 44); 
    height:250px;
}


.chordChart{
    background-color:rgb(255, 188, 44); 
    height:250px;
}


.histogram{
    background-color:rgb(255, 188, 44); 
    height:250px;
}