body{
    background-color: #333333;
    color: white;
}


.scatterPlotContainer {
    padding: 0 0 25px 0;
}

.cardShadowBox{
    box-shadow: 0 5px 8px 0 rgb(0 0 0 / 20%), 0 3px 10px 0 rgb(0 0 0 / 19%) !important;
}

.viewContainer{
    padding: 25px 0 25px 0;
}

.scatterPlot{
    background-color:rgb(255, 188, 44); 
    height:500px;
    width: 100%
}

.bar{
    fill: red;
    stroke: black;
    stroke-width: 1px;
}

.chordChart{
    background-color:rgb(255, 188, 44); 
    /* height:500px; */
    min-height: 1000;
    min-width: 1000;
}


.histogram{
    background-color:rgb(255, 188, 44); 
    height:500px;
    
}

.piechart{
    background-color:rgb(255, 188, 44); 
    height:250px;
}



/* .link {
    stroke: rgb(255, 35, 83);
    stroke-width:1px;
    stroke-opacity: 0.5;
    fill:none;
} */


/* Chord Chart */
.node {
    font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    fill: #bbb;
  }
  
  .node:hover {
    fill: #000;
  }
  
  .link {
    stroke: steelblue;
    stroke-width:1px;

    stroke-opacity: 0.4;
    fill: none;
    pointer-events: none;
  }
  
  .node:hover,
  .node--source,
  .node--target {
    font-weight: 700;
  }
  
  .node--source {
    fill: #2ca02c;
  }
  
  .node--target {
    fill: #d62728;
  }
  
  .link--source,
  .link--target {
    stroke-opacity: 1;
    stroke-width: 2px;
  }
  
  .link--source {
    stroke: #d62728;
  }
  
  .link--target {
    stroke: #2ca02c;
  }


  #chordtooltip {
    border:1px solid gray;
    border-radius:5px;
    background-color: rgba(255, 255, 255, 0.384);
    color: #000;
    position:absolute;
    padding:10px;
    pointer-events: none;
  }

  #scattertooltip {
    border:1px solid gray;
    border-radius:5px;
    background-color: rgba(255, 255, 255, 0.384);
    color: #000;
    position:absolute;
    padding:10px;
    pointer-events: none;
  }